server/world*
server/eula.txt
server/ops.json
server/*.old
server/usercache.json
server/logs
server/libraries
server/config
server/versions/
server/banned-ips.json
server/banned-players.json
server/help.yml
server/ops.json
server/usercache.json
server/version_history.json
server/whitelist.json
server/wepif.yml
server/cache


server/plugins/*
!server/plugins/TabCompleteFilter/
!server/plugins/NoCheatPlus/
!server/plugins/IllegalStack/

!server/plugins/*.jar

# Paid Plugins
server/plugins/LiteBans.jar


