# Folia Server
Folia/world*
Folia/eula.txt
Folia/ops.json
Folia/*.old
Folia/usercache.json
Folia/logs
Folia/libraries
Folia/config
Folia/versions/
Folia/banned-ips.json
Folia/banned-players.json
Folia/help.yml
Folia/version_history.json
Folia/whitelist.json
Folia/wepif.yml
Folia/cache

# Ignore all plugins in server except specific ones
Folia/plugins/*
!Folia/plugins/TabCompleteFilter/
!Folia/plugins/NoCheatPlus/
!Folia/plugins/IllegalStack/
!Folia/plugins/*.jar

# Paid Plugins
Folia/plugins/LiteBans.jar


# Bungeecord Server
Bungeecord/logs
Bungeecord/NullCordX*
config.yml_backup*
!Bungeecord/nullcordx_config.yml

# Ignore all plugins in Bungeecord except specific ones
Bungeecord/plugins/*
!Bungeecord/plugins/TabCompleteFilter/
!Bungeecord/plugins/FallBackServer/
!Bungeecord/plugins/*.jar
Bungeecord/plugins/LiteBans.jar
Bungeecord/plugins/nullcordx*.jar

Bungeecord/waterfall.yml
